version: 2
jobs:
  build:
    docker:
      - image: exoplatform/jdk:8-ubuntu-1804

    steps:
      - run: apt update
      - run: apt install -y git
      - checkout

      - run: 
          name: php install 7.3
          command: | 
            apt update 
            apt install software-properties-common -y
            add-apt-repository ppa:ondrej/php -y
            apt install -y php7.3 php7.3-common php7.3-opcache php7.3-cli php7.3-gd php7.3-curl php7.3-xml php7.3-mbstring
            curl -sS https://getcomposer.org/installer -o composer-setup.php
            php composer-setup.php --install-dir=/usr/local/bin --filename=composer
            composer install -n --prefer-dist
      - run: 
          name: whitesource
          command: | 
            curl -LJO https://github.com/whitesource/fs-agent-distribution/raw/master/standAlone/whitesource-fs-agent.jar
            ls
            java -jar whitesource-fs-agent.jar -c wss-unified-agent.config -d . 
      - run:
          name: scantist
          command: |
            bash <(curl -s https://scripts.scantist.com/staging/ci-circle.sh)
